<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("__bootStrap.ejs") %>
  </head>
  <body>
    <%- include("header.ejs")%>
    <div class="container mt-4 p-2" style="width: 50%">
      <form action="/task/create" method="post">
        <div class="form-group m-2">
          <input name = "date"
            class="form-control"
            type="date"
            placeholder="Enter the date "
          />
        </div>
        <div class="form-group m-2">
            <input name = "task" class="form-control" type="text" placeholder="Enter your task"/>
        </div>
        <div  class="form-group m-2">
            <label class="fw-bold m-2" for="" >Enter your task Description Here...</label>
            <textarea name="description" class="form-control" type="text" >  
            </textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">ADD</button>
      </form>
    </div>
  </body>
</html>
