<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("__bootStrap.ejs") %>
</head>
<body>
    <%- include("header.ejs")%>
    <div class=" container-fluid mt-4 p-4">
        <div class="" style="width: 20%; height: 25%; box-shadow: 10px 10px 10px 10px grey;">
            
        </div>
    </div>
</body>
</html>