<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("__bootStrap.ejs")%>
</head>
<body>
    <%- include("nav.ejs")%>
    <div>
        <!-- <img src="/images/home.jpg" height="92%" width="100%"  style=" background-size: cover;background-position: center; background-repeat: no-repeat;" alt="" srcset=""> -->
    </div>
</body>
</html>